body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
}

ul{
  margin:0;
  padding:0;
}

p {
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
}

/* Global */
.container{
  width:70%;
  margin:auto;
  overflow:hidden;
}

.button{
  padding: 8px;
  border-radius: 15px;
  display: inline-block;
  width: 125px;
  text-align: center;
  color: #333;
  border: 1px solid #ccc;
}

.lightblue {
  border-radius: 15px;
  padding: 2px 15px;
}

/* Header **/
header {
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/top_bg.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

.card-title {
  position: relative;
  font-weight: bold;
  margin: 0;

}

.top-line::before {
  content: "";
  border-top: 4px solid #333;
  width: 30px;
  position: absolute;
  top: -15px;
}

.find-more {
  margin-top: -22px;
}

.price {
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 10px;
  display: block;
}
.latest-title  {
  margin: 60px 0;
}
.line-top {
  padding-top: 60px;
  border-top: 1px solid #979797;
  margin-top: 60px;  
}
.number {
  font-size: 25px;
  color: #2CA1F8;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.thales-blog img {
  height: 400px;
}
.contact-info form {
  width: 70%;
}
.contact-info input, .contact-info textarea ,.contact-info button {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 6px 10px;
}

.contact-info button {
background: #272525;
color: #fff;  
height: 60px;
}


/* Media Queries */
@media(max-width: 768px){
}
